body {
    font-family: Arial, sans-serif;
    color: navy;   
    margin: 20px;
    background-color: #F9F9F9;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Rows */
.words-row, .dropzones-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Draggable Items */
.draggable {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #ddd;
    background-color: #f9F9F9;
    word-wrap: break-word;
    overflow: hidden;
}

.draggable:hover, .draggable:focus {
    outline: 2px solid #00C1D4;
}

/* Drop Zones */
.dropzone {
    flex: 1;
    min-height: 50px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px dashed #aaa;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.dropzone:hover, .dropzone:focus, .dropzone:active {
    outline: 2px solid #00C1D4;
}

/* Buttons */
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00C1D4;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #009BA9;
}

/* Miscellaneous */
#title-container, #instruction-container {
    margin-bottom: 20px;
}

#instruction-container {
    margin-bottom: 60px; /* Extra spacing after instructions */
}

#button-container {
    margin-top: 30px;
}


#feedback-container {
    display: flex;
    justify-content: flex-end;
}
