.container {
  display: flex;
  margin: 10px;
}

span {
  padding: 5px 10px;
  border: 1px solid black;
  margin: 2px;
  cursor: pointer;
}

div[data-correct] {
  width: 80px;
  height: 30px;
  border: 1px solid gray;
  margin: 2px;
}
